<?xml version="1.0" ?>
<manifest android:versionCode="2" android:versionName="0.2" package="br.com.epx.andro16c"
		xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10"/>
    <!-- Problem with higher SDK levels: menu button disappears! -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application android:description="@string/app_desc" android:icon="@drawable/icon"
        android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar"
        android:allowBackup="true">
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/app_name"
			android:name=".Andro16CActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
